.preloder {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.container {
  max-width: 960px;
  margin: 100px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .checkbox-all{
    padding: 0 15px;

    label {
      cursor: pointer;
    }
  }
}
.user__row {
  &:hover {
      background-color: #e0e0e0;
  }
}
.user__head,
.user__row {
  display: grid;
  grid-template-columns: minmax(50px, 50px) 1fr 1fr 1fr minmax(50px, 50px);
}
.user__head {
  background-color:#2f80ed;
  color: #fff;
  font-weight: bold;
}
.user__cell {
  padding: 5px 15px;
}
.checked-users {
  margin-top: 30px;
  padding: 15px;
  // background-color: #e0e0e0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(0,0,0,.12);
}
.checkbox {
  cursor: pointer;
}